# Question 4: Rabbits and Recurrence Relations
***
## Data Import:

In [1]:
Samplefile = open("Input_Data/SampleData.txt")
Samplefile = Samplefile.read()
Samplefile

'5 3'

Here the first number represents the = No. of months (n)

and the second number represents the = No. of rabbit pairs (k)

Now lets extract the numbers by splitting the string and converting them both from string to int.

In [2]:
variables = Samplefile.split(' ')
variables

['5', '3']

In [3]:
n = int(variables[0])      # No. of Months
k = int(variables[1])      # No. of babies each rabbit pair can have per year.

print(n, k)

5 3

Now that we have the two variables saved and ready to go, lets start the analysis:

*** 
## Analysis

The trick over here is to read the additional info in the "click to Expand" under the heading on the rosalind page. It gives you the
conditions for solving the problem. 

The conditions are: 
- The population begins in the first month with a pair of newborn rabbits.
- Rabbits reach reproductive age after one month.
- In any given month, every rabbit of reproductive age mates with another rabbit of reproductive age.
- Exactly one month after two rabbits mate, they produce one male and one female rabbit.
- Rabbits never die or stop reproducing.

Lets start with three variables for Young rabbits, one month old rabbits and Adult rabbits.

In [4]:
# In the first year, we start with one pair of young rabbits.

Young_rabbit = 1
One_month_rabbit = 0
Adult_rabbit = 0

Link to create DFs = Link to creating DFs = https://www.datacamp.com/community/blog/python-pandas-cheat-sheet?utm_source=adwords_ppc&utm_campaignid=1565261270&utm_adgroupid=67750485268&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=295208661502&utm_targetid=aud-299261629574:dsa-473406587915&utm_loc_interest_ms=&utm_loc_physical_ms=9061191&gclid=Cj0KCQjwmpb0BRCBARIsAG7y4zYE8nd5GclnMKwJIh6i2iJmv2iqevHMrC5DSMbNioMm6MZ0Ev7inKEaAgTLEALw_wcB

In [5]:
# lets start a dataframe to track how the numbers chnage as we go from month to month: 
import pandas as pd

track_df = pd.DataFrame(columns = ['Month', 'Young_rabbit', 'One_month_rabbit', 'Adult_rabbit'])
track_df

Empty DataFrame
Columns: [Month, Young_rabbit, One_month_rabbit, Adult_rabbit]
Index: []

In [6]:
# lets input the numbers for the first month: 

track_df = track_df.append({'Month' : 1 ,
                 'Young_rabbit' : Young_rabbit, 
                 'One_month_rabbit' : One_month_rabbit, 
                 'Adult_rabbit' : Adult_rabbit, 
                 'Total_rabbit': 0 } , ignore_index=True)

track_df

  Month Young_rabbit One_month_rabbit Adult_rabbit  Total_rabbit
0     1            1                0            0           0.0

Now lets start a for loop that starts with month 2

In [7]:
for i in range(1, n):
    
    # The young rabbits will turn to one month old rabbits
    New_one_month = Young_rabbit
    
    Young_rabbit = 0
    
    # now when ever month turns, the total rabbits will be the previous one month old rabbits + adult rabbit
    Adult_rabbit += One_month_rabbit
    
    # young rabbits now will be previous month adult rabbits * no. of pairs they can produce
    Young_rabbit = Adult_rabbit * k 
    
    One_month_rabbit = New_one_month
    
    Total_rabbit = Young_rabbit + One_month_rabbit + Adult_rabbit
    
    track_df = track_df.append({'Month' : i+1 ,
                 'Young_rabbit' : Young_rabbit, 
                 'One_month_rabbit' : One_month_rabbit, 
                 'Adult_rabbit' : Adult_rabbit, 
                 'Total_rabbit': Total_rabbit} , ignore_index=True)

In [8]:
track_df

  Month Young_rabbit One_month_rabbit Adult_rabbit  Total_rabbit
0     1            1                0            0           0.0
1     2            0                1            0           1.0
2     3            3                0            1           4.0
3     4            3                3            1           7.0
4     5           12                3            4          19.0

Here we can see that in
- month 1: there is one Young rabbit pair 
- month 2: the one young pair became one month old rabbit 
- month 3: When the one month old rabbit pair reach month 3, they produce an offspring pair. 
- month 4:

## Visualization: